<div class="content row-container">
  <article>
    <div class="article-header">
      {{- if or (.Permalink) (.Title)}}
      {{ .Scratch.Set "class_name" "article-title" }}
      {{- partial "post/title.html" . }}
      {{- end }}
      <div class="article-meta">
        {{ .Scratch.Set "class_name" "article-date" }}
        {{- partial "post/date.html" . }}
        {{- partial "post/category.html" . }}
        {{- partial "post/tag.html" . }}
        {{- partial "post/pv.html" . }}
        {{- partial "post/wc.html" . }}
      </div>
    </div>
    <div>
      {{ .Content }}
    </div>
  </article>
</div>